@font-face {
    font-family: latoBold;
    font-style: normal;
    src: url(./../../../assets/fonts/Lato-Bold.ttf);
}

@font-face {
    font-family: latoRegular;
    font-style: normal;
    src: url(./../../../assets/fonts/Lato-Regular.ttf);
}

nav {
    height: 15%;
    background-color: transparent!important;
    z-index: 10;
    position: absolute;
    width: 100%;
}

.containerVideo {
    min-height: 100%;
}


/*.backVideo {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: 0;
    height: 100%;
}*/

.backVideo {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%
}

.mainLogo {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.mainLogo img {
    width: 100%;
}

.iconMenu {
    position: inherit;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 51px;
}

.txtCenter {
    text-align: center;
}

.floatRight {
    float: right;
}

.height100 {
    height: 100%;
}

.boxMainText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    max-width: 70%;
}

.fontBold {
    font-family: latoBold;
}

.fontRegular {
    font-family: latoRegular;
}

.title {
    font-size: 40px;
    line-height: 120%;
}

.subtitle {
    font-size: 24px;
    margin-bottom: 110px;
    line-height: 25px;
}

.subtitleBlog {
    font-size: 24px;
    line-height: 25px;
}

.margin40 {
    margin-top: 40px;
}

.btnWhite {
    background: transparent;
    color: white;
    font-size: 32px;
    border: solid white 1px;
    border-radius: 10px;
    padding: 0 40px 0 40px;
}

.btnBlack {
    background: transparent;
    color: black;
    font-size: 32px;
    border: solid black 2px;
    border-radius: 10px;
    padding: 0 40px 0 40px;
}

.alianzaLogo {
    width: 60%;
    margin-left: 24px;
}

.txtAlianza {
    margin-top: 7%;
}

.container2 {
    background: #070606;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 65vh);
    color: white;
    margin-top: -1px;
    height: 85%;
}

.container2 {
    height: 85%;
}

.container3 {
    background: #070606;
    clip-path: polygon(0 0, 100% 24%, 100% 100%, 0 100%);
    color: white;
    margin-top: -1px;
    height: 92%;
    padding-top: 14%;
}

.u-margin-short {
    margin-bottom: 10%!important;
}

.u-margin-xs {
    margin-bottom: 5%!important;
}

.imgFloat {
    position: absolute;
    bottom: -40px;
    width: 100%;
    clip-path: polygon(0% 40%, 100% 40%, 100% 100%, 0 100%);
    border-bottom-right-radius: 100px;
}

.contElement {
    background-color: #EDEDED;
}

.imgAlianza {
    border-radius: 0 0 100px 0;
}

.btnGray {
    background: #E8E8E8;
    color: #6E6E6E;
    font-size: 20px;
}

.imgBlog {
    border-radius: 0 0 63px 0;
}

.sizeProperty {
    font-size: 15px;
}

.backgroundBlack {
    background-color: black;
}

.colorWhite {
    color: white;
}

.containerFooter {
    border-top: solid 1px white;
    padding-top: 2%;
    padding-bottom: 12px;
}

.separateLine {
    border-bottom: solid black 1px;
    padding: 40px;
    margin: -46px 52px 46px 0px;
}

.contentBlog {
    position: absolute;
    top: 12%;
    left: 50%;
    margin: 1% 0 0 -47%;
}

.inputNewsletter {
    width: 70%;
    border: none;
    background: transparent;
    border-bottom: solid 1px;
    border-radius: 0px;
    font-size: 20px;
    padding-left: 0px;
}

.form-control:focus {
    color: #495057;
    background-color: transparent!important;
    outline: 0;
    box-shadow: none!important;
}

.subscribe {
    margin-top: 31%;
}

.lineLeft {
    border-left: solid 3px #B846FF;
    padding-left: 24px;
}

#fixed-sidebar {
    position: fixed;
    max-width: 20%;
    color: white;
}

@supports(object-fit: cover) {
    .backVideo {
        height: 100%;
        object-fit: cover;
        object-position: center center;
    }
}

@media only screen and (max-device-width: 1600px) {
    .containerVideo {
        background-attachment: scroll;
        background-image: url('./../../../assets/images/Imagen_321.png');
        min-height: 100%;
        /* background-attachment: fixed!important; */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover!important;
        /* background-size: 100% 100%!important;*/
    }
    video {
        display: none!important;
    }
}


/* MEDIA QUERIES */


/* ----------- Galaxy S4, S5 and Note 3 ----------- */


/* Portrait */

@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait) {
    .title {
        font-size: 8vw;
        line-height: 120%;
        margin-top: 40px;
    }
    .boxMainText {
        top: 52%;
        left: 52%;
        max-width: 94%;
    }
    .hideElement {
        display: none;
    }
    .iconMenu {
        color: white;
        font-size: 28px;
    }
    .subtitle,
    .subtitleBlog {
        font-size: 13px;
        margin-bottom: 2%;
        line-height: 25px;
        max-width: 90%;
    }
    .u-margin-xs {
        margin-bottom: 0%!important;
    }
    .btnWhite {
        margin-top: 17px;
        font-size: 23px;
    }
    .container3 {
        clip-path: polygon(0 0, 100% 9%, 100% 100%, 0 100%);
        height: 121%;
    }
}


/* Landscape */

@media screen and (device-width: 640px) and (device-height: 360px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape) {}


/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */


/* Portrait */

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
    .title {
        font-size: 8vw;
        line-height: 120%;
        margin-top: 40px;
    }
    .boxMainText {
        top: 52%;
        left: 52%;
        max-width: 94%;
    }
    .hideElement {
        display: none;
    }
    .iconMenu {
        color: white;
        font-size: 28px;
    }
    .subtitle,
    .subtitleBlog {
        font-size: 13px;
        margin-bottom: 2%;
        line-height: 25px;
        max-width: 90%;
    }
    .u-margin-xs {
        margin-bottom: 0%!important;
    }
    .btnWhite {
        margin-top: 0px;
        font-size: 21px;
    }
    .container3 {
        clip-path: polygon(0 0, 100% 9%, 100% 100%, 0 100%);
        height: 121%;
    }
}


/* Landscape */

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
    .title {
        font-size: 8vw;
        line-height: 120%;
        margin-top: 40px;
    }
    .boxMainText {
        top: 52%;
        left: 52%;
        max-width: 94%;
    }
    .hideElement {
        display: none;
    }
    .iconMenu {
        color: white;
        font-size: 28px;
    }
    .subtitle,
    .subtitleBlog {
        font-size: 13px;
        margin-bottom: 2%;
        line-height: 25px;
        max-width: 90%;
    }
    .u-margin-xs {
        margin-bottom: 0%!important;
    }
    .btnWhite {
        margin-top: 0px;
        font-size: 21px;
    }
    .container3 {
        clip-path: polygon(0 0, 100% 9%, 100% 100%, 0 100%);
        height: 121%;
    }
}


/* ----------- iPhone 6, 6S, 7 and 8 ----------- */


/* Portrait */

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
    .title {
        font-size: 8vw;
        line-height: 120%;
        margin-top: 40px;
    }
    .boxMainText {
        top: 52%;
        left: 52%;
        max-width: 94%;
    }
    .hideElement {
        display: none;
    }
    .iconMenu {
        color: white;
        font-size: 28px;
    }
    .subtitle,
    .subtitleBlog {
        font-size: 13px;
        margin-bottom: 2%;
        line-height: 25px;
        max-width: 90%;
    }
    .u-margin-xs {
        margin-bottom: 0%!important;
    }
    .btnWhite {
        margin-top: 0px;
        font-size: 21px;
    }
    .container3 {
        clip-path: polygon(0 0, 100% 9%, 100% 100%, 0 100%);
        height: 121%;
    }
}


/* Landscape */

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {}


/* ----------- iPhone 6+, 7+ and 8+ ----------- */


/* Portrait */

@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
    .title {
        font-size: 8vw;
        line-height: 120%;
        margin-top: 40px;
    }
    .boxMainText {
        top: 52%;
        left: 52%;
        max-width: 94%;
    }
    .hideElement {
        display: none;
    }
    .iconMenu {
        color: white;
        font-size: 28px;
    }
    .subtitle,
    .subtitleBlog {
        font-size: 13px;
        margin-bottom: 2%;
        line-height: 25px;
        max-width: 90%;
    }
    .u-margin-xs {
        margin-bottom: 0%!important;
    }
    .btnWhite {
        margin-top: 0px;
        font-size: 21px;
    }
    .container3 {
        clip-path: polygon(0 0, 100% 9%, 100% 100%, 0 100%);
        height: 121%;
    }
}


/* Landscape */

@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {}


/* ----------- iPhone X ----------- */


/* Portrait */

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
    .title {
        font-size: 8vw;
        line-height: 120%;
        margin-top: 40px;
    }
    .boxMainText {
        top: 52%;
        left: 52%;
        max-width: 94%;
    }
    .hideElement {
        display: none;
    }
    .iconMenu {
        color: white;
        font-size: 28px;
    }
    .subtitle,
    .subtitleBlog {
        font-size: 13px;
        margin-bottom: 2%;
        line-height: 25px;
        max-width: 90%;
    }
    .u-margin-xs {
        margin-bottom: 0%!important;
    }
    .btnWhite {
        margin-top: 0px;
        font-size: 21px;
    }
    .container3 {
        clip-path: polygon(0 0, 100% 9%, 100% 100%, 0 100%);
        height: 121%;
    }
}


/* Landscape */

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {}


/* ----------- iPad 3, 4 and Pro 9.7" ----------- */


/* Portrait */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
    .title {
        font-size: 8vw;
        line-height: 120%;
        margin-top: 40px;
    }
    .container2 {
        height: 53%;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 39vh);
    }
    .hideElement {
        display: none;
    }
    .container3[_ngcontent-fjs-c17] {
        clip-path: polygon(0 0, 100% 13%, 100% 100%, 0 100%);
    }
}


/* Landscape */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {}