<nav class="navbar navbar-light bg-light justify-content-center">
    <div class="col-10 txtCenter height100">
        <a class="mainLogo" href="#">
            <img src="./../../../assets/images/logo_eway.svg" width="30" height="30" alt="">
        </a>
        <a class="floatRight iconMenu" href="#">
            <i class="fas fa-bars"></i>
        </a>
    </div>
</nav>
<div class="containerVideo">
    <video class="backVideo" loop="loop" autoplay="autoplay">
        <source src="./../../../assets/video/Final-EWAY.webm" type="video/mp4">
    </video>
    <div class="boxMainText container">
        <div class="row">
            <div class="col">
                <p class="title fontBold">Tenemos la experiencia para apoyarte en este cambio</p>
                <p class="subtitle fontRegular margin40">Soluciones para nuevos retos digitales.</p>
                <button type="button" class="btn fontBold btnWhite">Comenzar test</button>
            </div>
            <div class="col-5 txtCenter">
                <p class="txtAlianza">Una iniciativa de:</p>
                <img class="alianzaLogo" src="./../../../assets/images/logos_alianza.svg" />
            </div>
        </div>
    </div>
</div>
<div class="container2">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-3">
                <p class="title fontBold">Nuestro propósito</p>
            </div>
            <div class="col-7">
                <p class="subtitle fontRegular">Novedosos desafíos al paso de la transformación digital ha llevado al mundo cambiante con sobre el plano de la nueva era, rodeados de tecnologías debemos aprovecharla con ideas claras y contundentes que nos permitan aumentar e incluso
                    sobrevivir en busca de aumentar la eficacia de las compañías.</p>
            </div>
        </div>
    </div>
    <!--div class="row">
        <div class="col-12">
            <img src="./../../../assets/images/Imagen_287.png" />
        </div>

    </div-->
</div>
<div class="container u-margin-short">
    <div class="row justify-content-center">
        <div class="col-10 ">
            <img src="./../../../assets/images/Imagen_287.png" class="imgFloat" />
        </div>

    </div>
</div>
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="offset-1 col-6">
            <div class="container">
                <div class="row">
                    <div class="col-6">
                        <p class="title fontBold">Nuestra alianza</p>
                        <p class="subtitle fontRegular">
                            Ante un panorama desconocido el portador del riesgo de la disrupción tiene una tarea de doble responsabilidad. Por ello WeeCompany® en colaboración con EY® presentan una serie de contenidos que te permitirán evaluar la situación en la que tu compañía
                            y tu se encuentran para enfrentar una ruta segura de cambios exitosos.
                        </p>
                    </div>
                    <div class="col-6">
                        <img src="./../../../assets/images/IMG_nuestr_lg.jpg" class="imgAlianza img-fluid" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <p class="title fontBold">Blog</p>
                    </div>
                    <div class="col-8">
                        <p class="subtitleBlog u-margin-short fontRegular">
                            De la mano de expertos conoce la experiencia de procesos de transformación digital y tendencias.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <button type="button" class="btn fontRegular btnGray ">InsurTech</button>
                    </div>
                    <div class="col-3">
                        <button type="button" class="btn fontRegular btnGray">Seguros</button>
                    </div>
                    <div class="col-3">
                        <button type="button" class="btn fontRegular btnGray">Emprender</button>
                    </div>
                    <div class="col-3">
                        <button type="button" class="btn fontRegular btnGray">Tecnología</button>
                    </div>

                </div>
                <br>
                <div class="row">
                    <div class="col-3">
                        <button type="button" class="btn fontRegular btnGray ">COVID-19</button>
                    </div>
                    <div class="col">
                        <button type="button" class="btn fontRegular btnGray">Salud</button>
                    </div>

                </div>
                <br>
                <div class="row u-margin-short">
                    <div class="col-6">
                        <img src="./../../../assets/images/img1_blog.jpg" class="imgBlog img-fluid" />
                    </div>
                    <div class="col-6">
                        <p class="subtitleBlog fontBold">
                            La transformación requiere de un cambio mental
                        </p>
                        <p class="subtitleBlog fontRegular col-9 u-margin-short">
                            Lorem Ipsum is simply dummy text of the printing and
                        </p>
                        <div class="row">
                            <div class="col-3">
                                <img src="./../../../assets/images/usuario.png" class="img-fluid" />
                            </div>
                            <div class="col-9 bottom-0">
                                <p class="sizeProperty fontBold">
                                    Aaron Larson
                                </p>
                                <p class="sizeProperty fontRegular">
                                    Feb 20, 2020
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row u-margin-short">
                    <div class="col-6">
                        <img src="./../../../assets/images/img2_blog.jpg" class="imgBlog img-fluid" />
                    </div>
                    <div class="col-6">
                        <p class="subtitleBlog fontBold">
                            La transformación requiere de un cambio mental
                        </p>
                        <p class="subtitleBlog fontRegular col-9 u-margin-short">
                            Lorem Ipsum is simply dummy text of the printing and
                        </p>
                        <div class="row">
                            <div class="col-3">
                                <img src="./../../../assets/images/usuario.png" class="img-fluid" />
                            </div>
                            <div class="col-9">
                                <p class="sizeProperty fontBold">
                                    Aaron Larson
                                </p>
                                <p class="sizeProperty fontRegular">
                                    Feb 20, 2020
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row u-margin-short">
                    <div class="col-6">
                        <img src="./../../../assets/images/img3_blog.jpg" class="imgBlog img-fluid" />
                    </div>
                    <div class="col-6">
                        <p class="subtitleBlog fontBold">
                            La transformación requiere de un cambio mental
                        </p>
                        <p class="subtitleBlog fontRegular col-9 u-margin-short">
                            Lorem Ipsum is simply dummy text of the printing and
                        </p>
                        <div class="row">
                            <div class="col-3">
                                <img src="./../../../assets/images/usuario.png" class="img-fluid" />
                            </div>
                            <div class="col-9">
                                <p class="sizeProperty fontBold">
                                    Aaron Larson
                                </p>
                                <p class="sizeProperty fontRegular">
                                    Feb 20, 2020
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-5 contElement">
            <div class="container">
                <div class="row">
                    <div class="col-11 offset-1">
                        <p class="subtitleBlog fontBold ">
                            ¿Transformación digital?
                        </p>
                    </div>
                    <div class="col-11 offset-1">
                        <p class="subtitleBlog fontBold">
                            Aplica los siguientes test:
                        </p>
                    </div>
                </div>
                <div class="row separateLine">
                    <div class="col-3 offset-1">
                        <p class="subtitleBlog fontBold ">
                            <img src="./../../../assets/images/tdigital1.PNG" class="" />
                        </p>
                    </div>
                    <div class="col-7 offset-1">
                        <p class="subtitleBlog fontBold">
                            Descubre que tan preparados están para la transformación digital
                        </p>
                    </div>
                </div>
                <div class="row separateLine">
                    <div class="col-3 offset-1">
                        <p class="subtitleBlog fontBold ">
                            <img src="./../../../assets/images/tdigital2.PNG" class="" />
                        </p>
                    </div>
                    <div class="col-7 offset-1">
                        <p class="subtitleBlog fontBold">
                            Descubre que tan preparados están para la transformación digital
                        </p>
                    </div>
                </div>
                <div class="row separateLine">
                    <div class="col-3 offset-1">
                        <p class="subtitleBlog fontBold ">
                            <img src="./../../../assets/images/tdigital3.PNG" class="" />
                        </p>
                    </div>
                    <div class="col-7 offset-1">
                        <p class="subtitleBlog fontBold">
                            Descubre que tan preparados están para la transformación digital
                        </p>
                    </div>
                </div>
                <div class="row separateLine">
                    <div class="col-3 offset-1">
                        <p class="subtitleBlog fontBold ">
                            <img src="./../../../assets/images/tdigital4.PNG" class="" />
                        </p>
                    </div>
                    <div class="col-7 offset-1">
                        <p class="subtitleBlog fontBold">
                            Descubre que tan preparados están para la transformación digital
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container3">
    <div class="container u-margin-short">
        <div class="row justify-content-center">
            <div class="col-4">
                <p class="title fontBold">Test transformación digital</p>
            </div>
            <div class="col-6">
                <p class="subtitle fontRegular">Ingresa a los siguientes test y obtén el resultado de tus conocimientos digitales así como las áreas de oportunidad donde podrías iniciar la transformación digital.</p>
            </div>
        </div>
        <div class="row">
            <div class="offset-4 col-2">
                <img src="./../../../assets/images/digital1.PNG" class="img-fluid" />
            </div>
            <div class="col-6">
                <p class="subtitle fontRegular u-margin-xs">¿Cuáles son nuestras fortalezas para la transformación digital?</p>
                <button type="button" class="btn fontRegular btnWhite">Iniciar autoevaluación</button>
            </div>
        </div>
        <br><br>
        <div class="row">
            <div class="offset-4 col-2">
                <img src="./../../../assets/images/digital2.PNG" class="img-fluid" />
            </div>
            <div class="col-6">
                <p class="subtitle fontRegular u-margin-xs">¿Cuáles son nuestras fortalezas para la transformación digital?</p>
                <button type="button" class="btn fontRegular btnWhite">Iniciar autoevaluación</button>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid backgroundBlack ">
    <div class="container containerFooter">
        <div class="row">
            <div class="col-5 ">
                <img src="./../../../assets/images/footer1.PNG" class="img-fluid" />
            </div>
            <div class="col-3 ">
                <a href="#">
                    <p class="sizeProperty fontBold colorWhite">Inicio</p>
                </a>
                <a href="#">
                    <p class="sizeProperty fontBold colorWhite">Nuestro proposito</p>
                </a>
                <a href="#">
                    <p class="sizeProperty fontBold colorWhite">Blog</p>
                </a>
                <a href="#">
                    <p class="sizeProperty fontBold colorWhite">Test transformación digital</p>
                </a>

            </div>
            <div class="col-4 ">
                <p class="sizeProperty fontBold colorWhite">
                    Contacto
                </p>
                <p class="sizeProperty fontRegular colorWhite">
                    Insurgentes Sur 601, Col. Nápoles CDMX, 03810, MX Tel: 52 1 55 7100 2331
                </p>
                <div class="row u-margin-short">
                    <div class="col-4">
                        <a href="#"><img src="./../../../assets/images/facebook_eway.svg" class="img-fluid" /></a>
                    </div>
                    <div class="col-4">
                        <a href="#"><img src="./../../../assets/images/link_eway.svg" class="img-fluid" /></a>
                    </div>
                    <div class="col-4">
                        <a href="#"><img src="./../../../assets/images/twit_eway.svg" class="img-fluid" /></a>
                    </div>
                </div>
                <p class="sizeProperty fontRegular colorWhite">
                    Aviso de privacidad / Términos y condiciones
                </p>
            </div>
        </div>
    </div>
</div>